
<nav>
    <!-- <span class="visibilityHidden">Change Theme</span> -->
    <button mat-icon-button aria-label=" Toggle theme icon button " (click)="onToggleTheme()">
      <mat-icon>
        {{ themeMode ? 'light_mode' : 'dark_mode' }}
      </mat-icon>
    </button>

    <!-- <mat-icon (click)="onToggleTheme()">light_mode</mat-icon> -->
    <!-- <mat-icon (click)="onToggleTheme()">wb_sunny</mat-icon> -->
    <!-- <mat-icon (click)="onToggleTheme()">brightness_5</mat-icon> -->
    <!-- <mat-icon>brightness_4</mat-icon> -->

  </nav>
