nav {
    cursor: pointer;
    margin-top: .25rem;
    margin-left: .5rem;
    margin-right: .25rem;
    position: relative;
  }
  mat-icon {
    margin-top: .25rem;
    color: var(--fa-icon-lightBulb);
    transition: transform 1s;
  }
  mat-icon:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  /* button {
    margin-top: -2px;
  } */
  button.mat-icon-button {
    transform: scale(.90);
    margin-top: -9px;
    background-color: var(--background-header);
}
  button.mat-icon-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }


  