<div class="main">

    <div class="flex-container">
        <div class="card-wrapper">
            <div class="card">
                <img src="assets/images/david.jpg" alt="david">
                <h1>David Aladesaye</h1>
                <p class="title">Cloud Architect</p>
                <p class="title">Team MG10</p>
                <p style="padding: 0 2rem;">GAD Community Project</p>
                <div style="margin: 24px 0;">
                    <a href="https://github.com/aladesaye" target="_blank"><fa-icon [icon]="faGithub"></fa-icon></a> 
                    <a href="https://api.whatsapp.com/send?phone=2348169166448"><fa-icon [icon]="faWhatsapp" style="color: #25d366;"></fa-icon></a>  
                </div>
                <p><button><a href="https://community.andela.com/u/842f9822?">Contact</a></button></p>
              </div>
        </div>
        <div class="card-wrapper">
            <div class="card">
                <img src="assets/images/angela.jpg" alt="angela">
                <h1>Angela Teyvi</h1>
                <p class="title">Mobile Web Specialist</p>
                <p class="title">Team MG10</p>
                <p>GAD Community Project</p>
                <div style="margin: 24px 0;">
                    <a href="https://github.com/teyvi" target="_blank"><fa-icon [icon]="faGithub"></fa-icon></a> 
                    <a href="https://api.whatsapp.com/send?phone=233245756615"><fa-icon [icon]="faWhatsapp" style="color: #25d366;"></fa-icon></a>  
                </div>
                <p><button><a href="https://community.andela.com/u/d6a8c909?">Contact</a></button></p>
              </div>
        </div>
        <div class="card-wrapper">
            <div class="card">
                <img src="assets/images/my_photo.jpg" alt="anthony">
                <h1>Anthony Alika</h1>
                <p class="title">Mobile Web Specialist</p>
                <p class="title">Team MG10</p>
                <p>GAD Community Project</p>
                <div style="margin: 24px 0;">
                  <a href="https://github.com/alika40" target="_blank"><fa-icon [icon]="faGithub"></fa-icon></a> 
                  <a href="https://api.whatsapp.com/send?phone=2348069393684"><fa-icon [icon]="faWhatsapp" style="color: #25d366;"></fa-icon></a>  
                </div>
                <p><button><a href="https://community.andela.com/u/758a2969?">Contact</a></button></p>
              </div>
        </div> 

      </div>

      <div class="underline fancy"><p>MG10 TEAM MEMBERS</p></div>


      <section>
          <h1 id="about-us">About Us:</h1>
          <p>
              We offer top-notch, high quality, online vidoe tutorials on different courses to our teeming users at an  offordable price.
              We also offer free courses which comes with no certification. Our courses ranges from <small><b>STEM <i>(Science, Technology, Engineering and Mathematics)</i></b></small>
              education to <small><b><i>Personal Development, Finance & Accounting, IT & Software, </i></b></small> and many <a id="more" [routerLink]="['/home']" [fragment]="'course-categories'">more</a>.
          </p>
      </section>


</div>
