* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }


.main {
    margin-top: 4.5rem;
    margin-bottom: 10rem;
    background: var(--background-theme);
}


mat-grid-tile {
    border-radius: 9px;
}

.mat-card-div {
    width: 80%;
    margin: auto;
    background: var(--background-theme);
}


.mat-card {
    background: var(--container-theme);
    border-radius: 8px;
    padding: 0;
    transition: 0.2s all ease-in;
    width: 96%;
    height: 96%;
}

.mat-card:hover {
    box-shadow: 0 8px 15px 0 rgba(0,0,0,0.1),0 6px 10px 0 rgba(0,0,0,0.1);
    transform: scale(1.035);
}
.mat-card-content-div {
    color: var(--foreground-color);
    min-height: 7rem;
}

mat-divider{
    background-color: var(--mat-divider);
  }

.image-wrapper{
    position: relative;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: var(--container-theme);
    height: 250px;
}
.course-image {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    height: 250px;
    width: 100%;
    color: #FDFEFF;
}


.broken_image {
    color: #000;
    display: flex;
    text-align: center;
    flex-direction: column;
}
.broken_image mat-icon {
    font-size: 40px;
}
.header-text-container {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    left: 0;
    top: 0;
    width: 100%;
    height: 250px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
div.header-text-container > a > div.header-text {
    margin-left: 2rem;
    margin-right: 2rem;
}
div.header-text-container > a > div.header-text > h1,
div.header-text-container > a {
    text-decoration: none;
    color: white;
}


#wrapper1{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: space-between;
    padding: .5rem 1rem .5rem 1rem;
}
.theme {
    color: var(--icons);
}
.links {
    color: var(--links);
    text-decoration: none;
    position: relative;
    font-weight: 500;
}
.links::before {
    content: '...[See Course Details]';
}
.visibilityHidden {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    padding: 0 !important;
    position: absolute;
    width: 1px !important;
}

#wrapper1 .badge .mat-supervisor-account {
    font-size: 1.25rem;
}
#wrapper1 .badge {
    margin-right: .5rem;
}

.topic a {
    font-weight: 500;
    text-decoration: none;
    color: var(--warning);
    padding: 3px;
    cursor: pointer;
}


mat-card-content {
    padding: 2rem 1rem 0 1rem;
    margin-bottom: 1rem;
    font-size: 1.15rem;
}
mat-card-content::first-letter {
    color: var(--warning);
    font-size: xx-large;
    font-family: Georgia, Times, Arial, Helvetica, sans-serif, 'Times New Roman', serif;
}

mat-paginator {
    background: var(--container-theme);
    width: 100%;
}

.paginator-div {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-radius: 3px;
    margin-top: 2.5rem;
    background-color:  var(--container-theme);
}


mat-card-actions {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-left: .75rem;
    margin-right: .5rem;
}

mat-card-actions .mat-buttons {
    /* transform: scale(.90); */
    padding: 0 4px;
}

mat-card-actions .take-course-btn {
    background-color: var(--links);
    color: #fff;
}
mat-card-actions .course-details-btn {
    background-color: var(--warning);
    color: #fff;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .main {
        margin-top: 2rem;
        margin-bottom: 8rem;
    }
    
    .mat-card-div {
        width: 94%;
    }

    mat-card-content {
        padding: 1rem 1rem 0 1rem;
        margin-bottom: .50rem;
    }

    .image-wrapper{
        height: 250px;
    }
    .header-text-container {
        height:250px;
    }
    .course-image {
        height: 250px;
    }

    .theme {
        font-size: 16px;
    }
    .broken_image mat-icon {
        font-size: 50px;
    }
    mat-card-content {
        font-size: 1.25rem;
        line-height: 22px;
    }
    mat-card-actions .mat-buttons {
        font-size: 16px;
        padding: 2px 6px;
    }
    
}
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {}