<div class="main">

    <div class="mat-card-div" *ngIf="courses">

        <mat-grid-list role="list" [cols]="cols" [rowHeight]="rowHeight" [gutterSize]="gutterSize">
            <mat-grid-tile role="listitem" *ngFor="let course of courses">

                <mat-card class="mat-card">
                    <div class="image-wrapper">
                    
                    <img class="course-image"  [src]="course.image_480x270">
        
                        <div class="header-text-container">
                        <a  [routerLink]="['/course', course.id]">
                            <div class="header-text">
                            <h1>
                                {{ course.title}}
                            </h1>
                            </div>
                        </a>
        
                        <div class="broken_image" *ngIf="!course.image_480x270">
                            <span>
                            <mat-icon>broken_image</mat-icon>
                            </span>
                            <span> We're sorry, the image is broken! </span>
                            <span> {{ course.image_480x270 }} </span>
                        </div>
                        </div>
                    </div>
        
                    <div class="items-container">
                            <div id="wrapper1">
                            <span>
                                <ng-container>
                                <small>
                                    <b class="theme">Price:</b>
                                    <span class="price theme"> {{ course.price }} </span>
                                </small>
                                </ng-container>
                            </span>
                            <span class="red-badge badge" aria-label="number of instructors">
                                <mat-icon  class="mat-supervisor-account theme">supervisor_account</mat-icon>
                                <span matBadgePosition="after" matBadgeSize="small" [matBadge]="course.visible_instructors.length">
                                </span>
                            </span>
                            </div>
        
                            <mat-divider></mat-divider>
        
                            <div class="mat-card-content-div">
                                <mat-card-content>
                                    <div *ngIf="course.headline">
                                        {{ (course.headline.length >= showMoreOrLess) ? (course.headline | slice: 0:showMoreOrLess) : course.headline }}
                                        <ng-container *ngIf="course.headline.length >= showMoreOrLess">
                                            <a class="links" [routerLink]="['/course', course.id]">
                                            <span class="visibilityHidden"> ...See Course Details: {{ course.title }} </span>
                                            </a>
                                        </ng-container>
                                    </div>
                                </mat-card-content>
                            </div>
        
                        <mat-card-actions>
                            <a mat-raised-button    class="mat-buttons take-course-btn"
                                                    aria-label="take course button"
                                                    (click)="takeCourse(course.url)">
                                Take This Course
                            </a>
                            <a mat-raised-button    class="mat-buttons course-details-btn" 
                                                    aria-label="course details button" 
                                                    (click)="courseDetails(course.id)">
                                Course Details
                            </a>
                        </mat-card-actions>
        
                    </div>
                </mat-card>

            </mat-grid-tile>
        </mat-grid-list>

    </div>

    <ng-container  *ngIf="totalCourseCount">
        <div class="paginator-div">
            <mat-paginator  showFirstLastButtons
                            [length]="totalCourseCount"
                            [pageSize]="coursesPerPage"
                            [pageSizeOptions]="pageSize"
                            (page)="onPageChange($event)"></mat-paginator>
        </div>
    </ng-container>

</div>