<div class="main-wrapper">

    <div class="main" *ngIf="course">
  
          <div class="course-title">
            <h1>
              {{ course.title }}
            </h1>
          </div>
    
          <div *ngIf="course.image_480x270" class="course-image-div">
            <img mat-card-image [src]="course.image_480x270" [alt]="course.title">
          </div>
  
          <div class="course-subtitle-container">
              <div class="wrapper1">
                  <span id="spacer">
                    <a [routerLink]="['/courses/category', course.primary_category.title]">
                      <span>
                        {{ course.primary_category.title }}
                      </span>
                    </a>
                  </span>
                  <div class="created-container">
                    <span class="mat-icon">
                      <mat-icon>calendar_month</mat-icon>
                    </span>
                    <span class="created">
                      {{ course.created | date: 'MMM d, y' }} 
                    </span>
                  </div>
              </div>

              <mat-divider></mat-divider>
              <span class="price">
                <b>Price: </b> <span> {{ course.price }} </span>
              </span>


              <div class="mat-grid">
                <p *ngIf="course.visible_instructors.length > 1" class="red"> Course Instructors:</p>
                <p *ngIf="course.visible_instructors.length < 2" class="red"> Course Instructor:</p>
                <mat-grid-list role="list" [cols]="cols" [rowHeight]="rowHeight" [gutterSize]="gutterSize">
                  <mat-grid-tile class="inst" role="listitem" *ngFor="let instructor of course.visible_instructors">
                    <span class="avatar-container">
                      <img class="avatar" [src]="instructor.image_50x50" alt="User Avatar">
                    </span>
                    <div class="inst-names">
                        <span class="inst-fname"> {{ instructor.display_name }} </span>
                        <span class="inst-nickname" > {{ instructor.job_title }} </span>
                    </div>
                </mat-grid-tile>
              </mat-grid-list>
              </div>

              <mat-divider></mat-divider>
          
              <ng-container *ngIf="description">
                <div class="description-container">
                  <h2 class="red"> Course Details </h2>
                  <div class="description" [innerHTML]="description"></div>
                </div>
              </ng-container>

          </div>

          <div class="btns-container">

              <div class="take-course">
                <a  mat-raised-button color="primary" href="https://www.udemy.com{{course.url}}" target="_blank">Take This Course</a>
              </div>

              <div>
                <button mat-mini-fab color="warn" (click)="openBottomSheet(course)">
                  <mat-icon>share</mat-icon>
                </button>
              </div>

              <div>
                <a  class="spacer links reviews"
                    aria-label="read reviews icon button"
                    matTooltip="Read Reviews"
                    mat-raised-button
                    color="accent"
                    [routerLink]="['./reviews']"
                    [fragment]="'course-reviews'">
                  <b> Read Reviews: </b> 
                  <span> {{ course.num_reviews }} </span>
                </a>
              </div>

          </div>
     
          </div>


          <div id="course-reviews" #smooth>
            <router-outlet></router-outlet>
          </div>

  
          <div id="other-courses">
            <app-other-courses *ngIf="courses"
                                [otherCourses]="courses"
                                [courseCategory]="course.primary_category.title"></app-other-courses>
          </div>
    
</div>


