* {
    box-sizing: border-box;
}


.container {
    position: relative;
    margin: 1rem 0;
    padding: 0 1rem;
    min-height: 20vh;
    /* margin-top: 5rem; */
}

.review-container-height {
    min-height: 0vh;
}


.container mat-card {
    padding: 0;
    margin-bottom: .60rem;
    background-color: var(--container-theme);
    box-shadow: var(--background-tertiary-shadow);
}
mat-card .review {
    padding: .5rem .75rem;
}

.user-infor{
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem 0 .75rem;
}
.avatar {
    margin-right: .45rem;
    border-radius: 100%;
    width: 45px;
    height: 45px;
}
.user-names {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
}
.user-names .user-nickname {
    font-size: .75rem;
    color: rgb(140, 140, 140);
}
.user-names .user-fname{
    font-size: .90rem;
}
.user-names span mat-icon {
    color: var(--com-color-btn);
    font-size: .85rem;
}


.spacer { flex: 1 1 auto;}



.review {
    margin-bottom: .50rem;
}
.review .review-date {
    display: flex;
    justify-content: flex-start;
    margin-top: -6px;
    font-size: .75rem;
    color: rgb(140, 140, 140);
}
.review .review-text {
    display: flex;
    justify-content: flex-start;
    margin-top: .70rem;
    font-size: 1rem;
    color: var(--foreground-color);
}

mat-divider{
    background-color: var(--mat-divider);
}


.flex-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
}
  
.flex-container > div {
    background-color: var(--container-theme);
    font-size: 12px;
    color: var(--foreground-color);
    border-radius: 3px;
    margin-right: 1rem;
}
.flex-container > div:nth-child(2) {
    padding: 5px;
}


/* =========================
     Next and Prev buttons
 ========================= */
 .control {
    border: none;
    background-color: var(--container-theme);
    outline: 0;  /*remove blue outline border, but make sure they are still focussable for accessibility */
    cursor: pointer;
    padding: 0.35em;
    font-weight: 850;
    font-size: 2em;
    color: var(--foreground-color);
    border-radius: 2px;
}

/* style the arrows */
.arrow {
    display: block;
    border-left: 0.1em solid var(--foreground-color);
    border-bottom: 0.1em solid var(--foreground-color);
    width: 0.5em;
    height: 0.5em;
}
.arrow.left {
    transform: rotate(45deg);
}
.arrow.right {
    transform: rotate(225deg);
}

button:disabled,
button[disabled] {
  background-color: #ffffff;
  cursor: not-allowed;
  border-radius: 0;
}
button:disabled .arrow,
button[disabled] .arrow{
  border-left: 0.1em solid #e2e2e2;
  border-bottom: 0.1em solid #e2e2e2;
}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {

    .flex-container {
        justify-content: center;
    }

    .control {
        padding: 0.5em;
        font-weight: 850;
        
    }

        
    .flex-container > div {
        font-size: 13px;
    }
    .flex-container > div:nth-child(2) {
        margin-top: auto;
        margin-bottom: auto;
        padding: 4px;
        font-size: 1em;
    }

}
