<nav>
    <mat-toolbar class="header">
        <mat-toolbar-row>
            <button class="mat-menu-icon" mat-button aria-label="Toggle side nav icon button" mat-icon-button>
                <mat-icon   (click)="proxyToggleMenu()"> menu </mat-icon>
            </button>
            <a  class="mat-home-icon-btn" aria-label="A link with a home icon button" mat-icon-button routerLink="/home">
                <mat-icon class="mat-home-icon">home</mat-icon>
            </a>

            <span class="site-logo">
            </span>
    
            <span class="spacer"></span>

            <!-- App search -->
            <div class='search-route'>
                <app-search ></app-search>
            </div>

            <!-- App Themes Menu -->
            <div class="theme-menu">
                <app-themes-menu></app-themes-menu>
            </div>
            
            <ng-container>
                <button class="more-vert-btn" mat-icon-button [matMenuTriggerFor]="accessMenu" matTooltip="More Actions">
                    <mat-icon class="mat-more-vert-icon" >more_vert</mat-icon> 
                </button>
                <mat-menu #accessMenu="matMenu" xPosition="before">
                    
                    <mat-divider class="mat-divider"></mat-divider>

                    <ng-template matMenuContent >
                        <a mat-button class="mat-action-btns"  (click)="notice()" routerLinkActive="mat-accent">
                            <mat-icon class="mat-icons">login</mat-icon>
                            Sign In
                        </a>

                        <mat-divider class="mat-divider"></mat-divider>

                        <a mat-button class="mat-action-btns"  (click)="notice()"  routerLinkActive="mat-accent">
                            <mat-icon class="mat-icons">person_add</mat-icon>
                            Sign Up
                        </a>
                    </ng-template>
                    
                    <mat-divider class="mat-divider"></mat-divider>

                </mat-menu>
            </ng-container>
        </mat-toolbar-row>
    </mat-toolbar>
</nav>
