* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }


.main {
    margin-top: 6rem;
    margin-bottom: 12rem;
    /* background: var(--background-theme); */
}

.mat-card-div {
    width: 80%;
    margin: auto;
    background: var(--background-theme);
}


.mat-card {
    margin: 0 .5rem 1.75rem .5rem;
    background: var(--container-theme);
    border-radius: 5px;
}
.mat-card-content-div {
    color: var(--foreground-color);
}

mat-divider{
    background-color: var(--mat-divider);
  }

.image-wrapper{
    position: relative;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: var(--container-theme);
    height: 450px;
}
.post-image {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    height: 100%;
    width: 100%;
    color: #FDFEFF;
}


.broken_image {
    color: #000;
    display: flex;
    text-align: center;
    flex-direction: column;
}
.broken_image mat-icon {
    font-size: 40px;
}
.header-text-container {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    left: 0;
    top: 0;
    width: 100%;
    height:450px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
div.header-text-container > a > div.header-text {
    margin-left: 2rem;
    margin-right: 2rem;
}
div.header-text-container > a > div.header-text > h1,
div.header-text-container > a {
    text-decoration: none;
    color: white;
}


#wrapper1{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: space-between;
    padding: .5rem 1rem .5rem 1rem;
}
.theme {
    color: var(--icons);
}
.links {
    color: var(--links);
    text-decoration: none;
    position: relative;
}
.links::before {
    content: '...[Read Full Article]';
}
.visibilityHidden {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    padding: 0 !important;
    position: absolute;
    width: 1px !important;
}

#wrapper1 .badge .mat-icon-comments {
    font-size: 1.25rem;
}
#wrapper1 .badge {
    margin-right: .5rem;
}

.topic a {
    font-weight: 500;
    text-decoration: none;
    color: var(--warning);
    padding: 3px;
    cursor: pointer;
}


mat-card-content {
    padding: 2rem 1rem 1rem 1rem;
    font-size: 1.15rem;
}
mat-card-content::first-letter {
    color: var(--warning);
    font-size: xx-large;
    font-family: Georgia, Times, Arial, Helvetica, sans-serif, 'Times New Roman', serif;
}

mat-card-actions {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right:  2rem;
    padding-bottom: 1.5rem;
}
mat-card-actions button {
    margin-left: 1rem;
}
mat-card-actions .mat-buttons {
    transform: scale(.90);
    padding: 0;
}

mat-card-actions .edit-btn {
    background-color: rgb(60, 32, 138);
    color: #fff;
}