<div class="main">

    <figure class="image-container">
        <img src="assets/images/ivan-aleksic-unsplash.jpg" alt="back to school" width="100%" height="100%">
        <figcaption><b>Photo Credit:</b> Ivan Aleksic - Unsplash</figcaption>
    </figure>


    <section class="banner">
        <h1 class="info-text">WELCOME TO GAD PROJECT</h1>
        <p class="appreciation-text"><small><b>Delivering Learning To Your Doorstep!</b></small></p>
    </section>

    
    <section class="content">
        <h1>What We Do.</h1>
        <p>
          We believe education is not a prerogative hence, we, a group of techpreneur, have come together to develop this application 
          to deliver learning to you at no cost. With the application, learning is at your finger tip. We have plethoral of 
          <b><a routerLink="/courses">Coures</a></b> ranging from Technologies to Education. There is something for everyone.

        </p>
    </section>
    
</div>
