* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }


.main {
    margin-bottom: 12rem;
    background: var(--background-theme);
    margin-left: auto;
    margin-right: auto;
    color: var(--foreground-color);
}

section {
    margin-top: 5rem;
    line-height: 30px;
    font-size: 18px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}


figure > figcaption {
    float: right;
    clear: both;
    margin-right: 1rem;
}

.banner {
    text-align: center;
    padding: 2rem;
    background-color: var(--container-theme);
    box-shadow: var(--background-tertiary-shadow);
    border-radius: 10px;
}
section.banner h1.info-text span {
    font-style: italic;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif, comic;
    font-weight: 500;
}

.content > p {
    margin-top: 2rem;
}



.info-text {
    font-family: Nosifer, Eater; /*Fredericka the Great, Frijole, Trade Winds,Nosifer, Rye, etc.*/
    text-shadow: 3px 3px 1px rgb(131, 130, 130);
    word-spacing: 10px;
    line-height: 3.5rem;
    animation: text-colors 2.5s infinite;
    font-size: 2.5rem;
}

.appreciation-text {
    animation: text-colors1 2.5s infinite;
    word-spacing: 3px;
    letter-spacing: 1px;
    font-family: Trade Winds;
    font-size: 18px;
}
/* Project Animation */
@keyframes text-colors {
    from {color: rgb(248, 248, 248);}
    to {color: rgb(60, 32, 138);}
}
/* Project Animation */
@keyframes text-colors1 {
    from {color: rgb(60, 32, 138);}
    to {color: rgb(248, 248, 248);}
}

.isEvenStyle {
    background-color: #654bda;
    color: #fff;
    cursor: pointer;
}
  .isOddStyle {
    background-color: #7cfc00;
    cursor: pointer;
}
.isFirstStyle, .isLastStyle {
    background-color: #f1b204;
    color: var(--foreground-color);
}



@media only screen and (max-width: 600px) {

    section {
        padding-left: 4px;
        padding-right: 4px;
        width: 94%;
    }

    .content > h1 {
        font-size: 32px;
        font-weight: 700;
    }
    .content > p {
        font-size: 20px;
        word-spacing: 3px;
        margin-top: 2rem;
    }
    
}